.flexcol{
    display: flex;
    flex-direction: column;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexrowtocol{
    display: flex;
    flex-direction: row;
}
.h100vh{
    height: 100vh;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.posrel{
    position: relative;
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}
.bc{
    background-color: rgb(11, 55, 55);
}
.w50{
    width: 50%;
}
.w90{
    width: 96%;
}
.flexcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center{
    justify-content: center;
    align-items: center;
}
.fend{
    justify-content: flex-end;

  
}
.endsofit{
    justify-content: flex-end;
    align-items: flex-end;
}
.bet{
    justify-content: space-between;
}
.h70{
    height: 70%;
}
.posAb{
    position: absolute;
    left: 50%;
    bottom: 0;
}
.paddingpage{
    width: 1230px;
    margin: 0 auto;
}




.w40{
    width: 40%;
}



.zindex-1{
    z-index: -1 !important;
}

.boxshadow{
    box-shadow: 3px 5px 10px black;
}






@media screen and (max-width: 702px) {
   .displaynon{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .gridrow4{
        grid-template-columns: 1fr  !important;
        min-height: 30vh !important;
        height: auto !important;
       
    }
    .ttrans {
        margin-top: 20px;
    }
.w30{
    width: 100% !important;
}
.w70{
    width: 100% !important;
    margin-left: 0 !important;
}
.padd{
    padding: 15px !important;
}
    .flexrowtocol{
        flex-direction: column;
    }
    .flexrowtocolrevers{
        flex-direction: column-reverse;
    }
    .visible{
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;
    }


}





@media screen and (max-width: 1292px) {
    .paddingpage {
     width: 90%;
    }
 .link{
direction: rtl;
 }
 .gridrow{

    grid-template-columns: 1fr 2fr 1fr !important;
 }
 .socialbuttons{
    margin-left: 10px !important;
 }
   .paddingdiv {
    padding: 20px;
   
   }
  
    .w50{
        width: 100%;
    }
    .w500{
        width: 70% !important;
        text-align: center;
       
    }
  
    .padding20pxcarusel{
        padding: 20px;
    }
    .marginbot{
        margin-bottom: 30px;
    }
    .NavFirstChild{
       
        width: 90% !important;
      
      }

      .h1{
        font-size: 2.5rem !important;
        letter-spacing: 9px !important;
  
      }
      .kavrohav{
        width: 50px !important;

      }
      .buttonsTransparent{
       margin-bottom: 20px;
       width: 50%;
      }
    
      .textalinphone{
text-align: center;
      }
      .openingBg{
        background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url('../images/s6.jpg');

      }
      .centerphone{
        align-items: center;
        justify-content: center;
     
      }
      .h50vh{
        height: auto !important;
        
      }
      .padding10{
        padding: 5px !important;
      }
      .topNavPas{
        max-height: max-content !important;
      }
    
  }
