.imagebgbig{
    object-fit: cover;
    background-size: cover;
   position: relative;
   width: 100%;
height: 100%;

   background-position: center;
   margin-bottom: 30px;

}
.immg1{
    background-image: url('../images/pexels-olena-ukraine-1021693.jpg');
}
.immg2{
    background-image: url('../images/a1.jpeg');
}
.smallImage{
    background-image: url('../images/pexels-pixabay-89785.jpg');
    object-fit: cover;
    background-size: cover;
   position: relative;
   width: 100%;
height: 100%;
min-height: 300px;

max-width: 50%;
   background-position: center;
   margin-bottom: 30px;


}
.tac{
    text-align: center;
}
.w400{
    width: 40%;
}
.smallImage::after{
    
}
.gridosh{
    display: grid;
    grid-template-columns: 1fr;
    max-height: 500px;
    overflow: hidden;
}
.headerSections{
    font-size: 3.6rem;
    font-weight: 100;
    letter-spacing: 15px;
  
}

.paregr{
   
    align-self: flex-end;
    text-align: right;
    direction: rtl;
  
    
}
.fsize1{
    font-size: 1.4rem;

    
}
.fw100{
    font-weight: 100;
}
.tar{
    text-align: right;
}
.headersExtras{
    margin-bottom: 30px;
}

.imagebgbig::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}


.h44{
    align-self: flex-end;
    text-align: right;
    direction: rtl;
    
}