.backimagefull{
position: relative;

height: 100%;
width: 100%;
background-image: url('../images/pexels-anastasiya-gepp-1462637.jpg');
background-size: cover;
object-fit: cover;
background-attachment: fixed;
}







.h50vh{
 overflow: hidden;
    height: 30vh;
    position: relative;
}
.margintop-50{
    margin-top: 50px;
}
.paddingbottom50{
    padding-bottom: 50px;
}




.kavrohav{
    width: 200px;
    height: 1px;
    background-color: black;
}